.contact{
    width: 100%;
    height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
}

.contact_header{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form_parent_dark{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 70%;
    background-color: rgb(39, 39, 39) !important;
    box-sizing: border-box;
    border-radius: 5px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    width: 100%;
}

.simpleInput{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 50px;
    width: 50%;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 20px;
    padding-left: 10px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #E9E8E8;
}

.textarea{
    height: 120px;
    border-radius: 5px;
    width: 50%; 
    outline: none;
    border: none;
    font-size: 20px;
    padding-left: 10px;
    background-color: #E9E8E8;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.submitBTN{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #FACF0F;
    color: #111 !important;
    width: 200px;
    height: 60px;
}

.submit_parent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
}

input:focus{
    border: 1px solid #FACF0F;
}

@media only screen and (max-width:679px){
    .form_parent{
        height: 65%;
        width: 90%;
        padding: 20px 0;
    }
    .simpleInput{
        width: 80%;
    }
    .textarea{
        width: 80%;
    }
    .contact{
        height: unset;
    }
    .geoContact{
        font-size: 15px;
    }
}