.about_me{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

.about_me_inner{
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 50px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.about_me_inner_left,
.about_me_inner_right{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about_me_inner_left{
    max-width: 650px;
}


.about_me_inner_right h2{
    font-size: 26px;
    color: var(--text-color-darker);
}

.about_me_inner_left p{
    font-size: 20px;
    color:var(--text-color-main);
    line-height: 1.5;
}

.my_skills{
    height: 50px;
    display: flex;
    gap: 15px;
    width: fit-content;
    line-break: auto;
}

.skill{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    background-color: var( --bg-layer);
    color: var(--text-color-darker);
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
}

@media only screen and (max-width:769px){
    .about_me{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }
    .about_me_inner{
        padding-top: 20px;
        flex-direction: column;
        box-sizing: content-box;
    }
    .about_me_inner_left{
        width: 95%;
        padding-left: 10px;
    }
    .about_me_inner_right{
        width: 95%;
        padding-left: 10px;
        margin-top: 50px;
    }
    .about_me_inner_left p{
        font-size: 18px;
    }
    .my_skills{
        flex-wrap: wrap;
        height: fit-content;
    }
}   


