.contact{
    width: 100%;
    padding-top: 150px;
}

.contact_inner{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.contact_header{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form_parent{
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
}

.form_parent_dark{
    background-color: var(--dark-mode-bg);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    width: 100%;
}

.simpleInputENG,
.simpleInput{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 50px;
    width: 50%;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 20px;
    padding-left: 10px;
    box-sizing: border-box;
    font-family: FiragoBold;
    background-color: #E9E8E8;
}

.simpleInputENG{
    display: none;
}

.textareaENG,
.textarea{
    height: 120px;
    border-radius: 5px;
    width: 50%; 
    outline: none;
    border: none;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #E9E8E8;
    box-sizing: border-box;
    font-family: FiragoBold;
}

.textareaENG{
    display: none;
}

.submitBTN{
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    font-family: FiragoBold;
    background-color:var(--component-color);
    color: var(--text-color-darker);
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
    
    width: 220px;
    height: 50px;
}

.submit_parent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
}

input:focus{
    border: 1px solid var(--component-color);
}

@media only screen and (max-width:769px){
    .contact{
        width: 100%;
        padding-top: 100px;
    }
    .form_parent{
        height: 65%;
        width: 90%;
    }
    .simpleInputENG,
    .simpleInput{
        width: 80%;
    }
    .textareaENG,
    .textarea{
        width: 80%;
    }
    .contact{
        height: unset;
    }
    .geoContact{
        font-size: 14px;
        padding: 0 12px;
        max-width: 650px;
    }
}

