@font-face {
    font-family: blabla;
    src: url("./FiraGO-Bold.ttf");
  }


  .geoStyle{
    font-family: blabla !important;
    font-feature-settings: "case" !important;
    font-weight: bolder !important;
  }