
.home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 30px;
}

.breckets{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    font-size: 200px;
    text-align: center;
    opacity: 0.8;
}


.home_p_txt{
    width: 100%;
    font-size: 22px;
    text-align: center;
    box-sizing: border-box;
}

.button_to_prj{
    width: 100%;
    height: 100px;
    margin-top: 150px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow-y: hidden;
}

.button_to_prj_inner{
    width: 250px;
    height: 60px;
    background-color: #FACF0F;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 1%;
    cursor: pointer;
    transition: all 0.4s ease;
}

.button_to_prj_inner:hover{
    margin-bottom: 10px;
}


.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 50px;
    height: 250px;
    background-color: #Fff;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.social_img{
    width: 30px;
    cursor: pointer;
}

.modes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #Fff;
    position: absolute;
    left: 0;
    top: 15%;
    transform: translateY(-15%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modes img{
    width: 30px;
}

.brhidden{
    display: none;
}

.wordArt{
    width: 300px !important;
    top: 0;
    position: absolute;
    z-index: -1;
}

@media only screen and (max-width:679px){
    .home{
        margin-top: 30px;
    }
    h1{
        font-size: 40px;
    }
    .social{
        display: none;
    }
    /* .brhidden{
        display: block;
    } */
    #geoName{
        font-size: 30px !important;
    }
    #geoTXT{
        font-size: 16px;
    }
    .breckets{
        font-size: 180px;
    }
}

@media only screen and (min-width:1400px){
    .breckets{
        font-size: 300px;
    }
}


.darkthememode{
    background-color: rgb(39, 39, 39) !important;
    color: white !important;
}

.darkmodetext{
    color: white !important;
}

.links_dark_mode{
    color: white !important;
    transition: all 0.4s ease;
}

.links_dark_mode:hover{
    color: yellow !important;
}


